
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:brown
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: navy;
}

#logo {
    float: left;
    font-size: 270%;
    margin-left: 40px;
}

#navbar {
    font-size: 120%;
    letter-spacing: 4px;

}

#navbar, #logo {
    line-height: 60px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color: navy;
}

#navbar a:hover {
    border-bottom: 1.5px solid navy;
}

.active {
    border-bottom: 1px solid black;
}

#chess-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#chess-images {
    height: 500px;
    width: 100%;
    background: url('../images/chess.jpg') no-repeat center center;
    background-size: cover;
}

#join {
    text-align: center;
    color: brown;
    margin: 40px 0;
    font-size: 250%;
}

#welcome {
    text-align: center;
    color: black;
    margin: 40px 0;
}

p {
    color: black;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

 #times h2 {
    text-align: center;
    color: green;
}

#times h3 {
    text-align: center;
    color: black;
}

#register {
    width: 180px;
    height: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    background-color: aqua;
    display: block;
    font-size: larger;
    border-radius: 10px;
    color: blueviolet;
    border: 1px solid

}

footer {
    height: 170px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    
}

.social-networks i {
    font-size: 50px;
    margin: 3%;
    padding: 5%;
    color: rgb(0, 8, 255);

}

