
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:brown
}

h1, h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: navy;
}

#logo {
    float: left;
    font-size: 270%;
}